In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
pwd

'/Users/dn/Documents/Kaggle/201903_Santander_Customer_Transaction_Prediction/Notebook'

In [3]:
cd '/Users/dn/Documents/Kaggle/201903_Santander_Customer_Transaction_Prediction/Data'

/Users/dn/Documents/Kaggle/201903_Santander_Customer_Transaction_Prediction/Data

In [4]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [5]:
print(df_train.describe())
print(df_test.describe())

              target          var_0          var_1          var_2  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        0.100490      10.679914      -1.627622      10.715192
std         0.300653       3.040051       4.050044       2.640894
min         0.000000       0.408400     -15.043400       2.117100
25%         0.000000       8.453850      -4.740025       8.722475
50%         0.000000      10.524750      -1.608050      10.580000
75%         0.000000      12.758200       1.358625      12.516700
max         1.000000      20.315000      10.376800      19.353000

               var_3          var_4          var_5          var_6  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        6.796529      11.078333      -5.065317       5.408949
std         2.043319       1.623150       7.863267       0.866607
min        -0.040200       5.074800     -32.562600       2.347300
25%         5.254075       9.883175     -11.200350       4.767700
50%         6.825000      11.108250      -4.833150       5.385100
75%         8.324100      12.261125       0.924800       6.003000
max        13.188300      16.671400      17.251600       8.447700

               var_7          var_8      ...              var_190  \
count  200000.000000  200000.000000      ...        200000.000000
mean       16.545850       0.284162      ...             3.234440
std         3.418076       3.332634      ...             4.559922
min         5.349700     -10.505500      ...           -14.093300
25%        13.943800      -2.317800      ...            -0.058825
50%        16.456800       0.393700      ...             3.203600
75%        19.102900       2.937900      ...             6.406200
max        27.691800      10.151300      ...            18.440900

             var_191        var_192        var_193        var_194  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        7.438408       1.927839       3.331774      17.993784
std         3.023272       1.478423       3.992030       3.135162
min        -2.691700      -3.814500     -11.783400       8.694400
25%         5.157400       0.889775       0.584600      15.629800
50%         7.347750       1.901300       3.396350      17.957950
75%         9.512525       2.949500       6.205800      20.396525
max        16.716500       8.402400      18.281800      27.928800

             var_195        var_196        var_197        var_198  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean       -0.142088       2.303335       8.908158      15.870720
std         1.429372       5.454369       0.921625       3.010945
min        -5.261000     -14.209600       5.960600       6.299300
25%        -1.170700      -1.946925       8.252800      13.829700
50%        -0.172700       2.408900       8.888200      15.934050
75%         0.829600       6.556725       9.593300      18.064725
max         4.272900      18.321500      12.000400      26.079100

             var_199
count  200000.000000
mean       -3.326537
std        10.438015
min       -38.852800
25%       -11.208475
50%        -2.819550
75%         4.836800
max        28.500700

[8 rows x 201 columns]
               var_0          var_1          var_2          var_3  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean       10.658737      -1.624244      10.707452       6.788214
std         3.036716       4.040509       2.633888       2.052724
min         0.188700     -15.043400       2.355200      -0.022400
25%         8.442975      -4.700125       8.735600       5.230500
50%        10.513800      -1.590500      10.560700       6.822350
75%        12.739600       1.343400      12.495025       8.327600
max        22.323400       9.385100      18.714100      13.142000

               var_4          var_5          var_6          var_7  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean       11.076399      -5.050558       5.415164      16.529143
std         1.616456       7.869293       0.864686       3.424482
min         5.484400     -27.767000       2.216400       5.713700
25%         9.891075     -11.201400       4.772600      13.933900
50%        11.099750      -4.834100       5.391600      16.422700
75%        12.253400       0.942575       6.005800      19.094550
max        16.037100      17.253700       8.302500      28.292800

               var_8          var_9      ...              var_190  \
count  200000.000000  200000.000000      ...        200000.000000
mean        0.277135       7.569407      ...             3.189766
std         3.333375       1.231865      ...             4.551239
min        -9.956000       4.243300      ...           -14.093300
25%        -2.303900       6.623800      ...            -0.095000
50%         0.372000       7.632000      ...             3.162400
75%         2.930025       8.584825      ...             6.336475
max         9.665500      11.003600      ...            20.359000

             var_191        var_192        var_193        var_194  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        7.458269       1.925944       3.322016      17.996967
std         3.025189       1.479966       3.995599       3.140652
min        -2.407000      -3.340900     -11.413100       9.382800
25%         5.166500       0.882975       0.587600      15.634775
50%         7.379000       1.892600       3.428500      17.977600
75%         9.531100       2.956000       6.174200      20.391725
max        16.716500       8.005000      17.632600      27.947800

             var_195        var_196        var_197        var_198  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean       -0.133657       2.290899       8.912428      15.869184
std         1.429678       5.446346       0.920904       3.008717
min        -4.911900     -13.944200       6.169600       6.584000
25%        -1.160700      -1.948600       8.260075      13.847275
50%        -0.162000       2.403600       8.892800      15.943400
75%         0.837900       6.519800       9.595900      18.045200
max         4.545400      15.920700      12.275800      26.538400

             var_199
count  200000.000000
mean       -3.246342
std        10.398589
min       -39.457800
25%       -11.124000
50%        -2.725950
75%         4.935400
max        27.907400

[8 rows x 200 columns]

In [6]:
df_train.head(10)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
5,train_5,0,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
6,train_6,0,11.8091,-0.0832,9.3494,4.2916,11.1355,-8.0198,6.1961,12.0771,...,8.7830,6.4521,3.5325,0.1777,18.3314,0.5845,9.1104,9.1143,10.8869,-3.2097
7,train_7,0,13.5580,-7.9881,13.8776,7.5985,8.6543,0.8310,5.6890,22.3262,...,13.1700,6.5491,3.9906,5.8061,23.1407,-0.3776,4.2178,9.4237,8.6624,3.4806
8,train_8,0,16.1071,2.4426,13.9307,5.6327,8.8014,6.1630,4.4514,10.1854,...,1.4298,14.7510,1.6395,1.4181,14.8370,-1.9940,-1.0733,8.1975,19.5114,4.8453
9,train_9,0,12.5088,1.9743,8.8960,5.4508,13.6043,-16.2859,6.0637,16.8410,...,0.5543,6.3160,1.0371,3.6885,14.8344,0.4467,14.1287,7.9133,16.2375,14.2514

In [7]:
df_test.head(10)

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846
5,test_5,5.9862,-2.2913,8.6058,7.0685,14.2465,-8.6761,4.2467,14.7632,1.8790,...,-2.1115,7.1178,-0.4249,8.8781,14.9438,-2.2151,-6.0233,9.8117,17.1127,10.8240
6,test_6,8.4624,-6.1065,7.3603,8.2627,12.0104,-7.2073,4.1670,13.0809,-4.3004,...,12.3609,6.8661,4.0971,8.8484,17.5010,0.0295,7.7443,9.1509,18.4736,5.1499
7,test_7,17.3035,-2.4212,13.3989,8.3998,11.0777,9.6449,5.9596,17.8477,-4.8068,...,4.4676,4.4214,0.9303,1.4994,15.2648,-1.7931,6.5316,10.4855,23.4631,0.7283
8,test_8,6.9856,0.8402,13.7161,4.7749,8.6784,-13.7607,4.3386,14.5843,2.5883,...,-3.4657,7.8754,2.4698,-0.0362,16.7144,0.1221,-1.4328,9.9207,16.9865,-3.3304
9,test_9,10.3811,-6.9348,14.6690,9.0941,11.9058,-10.8018,3.4508,20.2816,-1.4112,...,1.8052,11.0723,0.8907,4.7680,15.1425,0.6075,-4.4447,9.5788,15.8146,9.3457

In [8]:
df_train['target'].count()

200000

In [9]:
df_train['target'].value_counts()

0    179902
1     20098
Name: target, dtype: int64

In [1]:
import xgboost

In [3]:
import lightgbm as lgb

ModuleNotFoundError: No module named 'lightgbm'